# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backups
backups/
*.tar.gz

# Service Data (Personal/Secret/Runtime)
teamspeak/data/

nginx/certs/
nginx/vhost/
nginx/html/
nginx/logs/
nginx/htpasswd/*
!nginx/htpasswd/.htpasswd.example

dashboard/config/logs/*

# CrowdSec Runtime Data
crowdsec/config/
crowdsec/data/

# System
.DS_Store
Thumbs.db
get-docker.sh
